@inject HttpClient Http
<ul class="list-classes">

	@foreach (var classe in Classes)
	{
		<li class="list-classe">
			<div class="img-classe">
				<a href="creation/@classe.Nom">
					<img class="img-classe" src="@classe.ImageUrl">
				</a>
			</div>
			<div>
				<a href="#">
					<h4 class="nom-classe">@classe.Nom</h4>
				</a>
			</div>
		</li>
	}
</ul>

@code {
	private static List<Classe> Classes = new List<Classe>();

	protected override async Task OnInitializedAsync()
	{
		var result = await Http.GetFromJsonAsync<List<Classe>>("api/Classe");
		if (result != null)
			Classes = result;
	}
}
